.footer {
    background: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li {
    margin: 0 1em;
    cursor: pointer;
}

.socialList li:hover {
    color: #FFBB33;
}

.socialList svg {
    font-size: 1.2rem;
}

.copyRight {
    margin-top: 2rem;
}

.copyRight span {
    font-weight: bold;
    color: #FFBB33;
}